<div class="row">
  <div class="col-lg-8">
    <%= image_tag('backgrounds/background-image-recrop.png', id: 'big-home-image', class: 'img-fluid') %>
  </div>

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="<%= image_url('steering-wheel.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Make A Profile</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('sexy-sports-car.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Car</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('retro-bumper.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Brand</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
