<div class="row">
  <div class="col-lg-8">
    <%= image_tag('backgrounds/background-image-recrop.png', id: 'big-home-image', class: 'img-fluid') %>
  </div>

  <div class="col">
    <div class="card">
      <img class="card-img-top" src="<%= image_url('steering-wheel.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Get in the Driver's Seat</h5>
        <p class="card-text">Gather learn how to get started with classic car ownership, and connect with other users to share tips and resources. </p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('sexy-sports-car.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Model</h5>
        <p class="card-text">Find your dream car and learn how to take care of it properly -- as well as what to watch out for when you're a prospective buyer.</p>
        <a href="#" class="btn btn-primary">Start Searching</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('retro-bumper.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Brand</h5>
        <p class="card-text">Loyal to a particular car company?  Look at all of the different vehicles they have produced over the years, and learn which one is right for you.</p>
        <a href="#" class="btn btn-primary">Start Searching</a>
      </div>
    </div>
  </div>
</div>
