<div class="row">
  <div class="col-lg-7">
    <div class="row">
      <div class='col'><%= image_tag('backgrounds/background-image-recrop.png', id: 'big-home-image', class: 'img-fluid') %></div>
    </div>
  </div>

  <div class="col-lg">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class='card-body'>
            <h3>Caring for your classic car is no easy task, especially on your own.</h3>
            <p>That's why we started Clunkr.com -- a user-driven, collaborative one-stop-shop for all the informational resources and advice you need to keep your dream car in top shape for years to come. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('steering-wheel.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Get in the Driver's Seat</h5>
        <p class="card-text">Gather learn how to get started with classic car ownership, and connect with other users to share tips and resources. </p>
        <a href="#" class="btn btn-primary">Get Started</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('sexy-sports-car.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Model</h5>
        <p class="card-text">Find your dream car and learn how to take care of it properly -- as well as what to watch out for when you're a prospective buyer.</p>
        <a href="#" class="btn btn-primary">Start Searching</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="<%= image_url('retro-bumper.jpg') %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Browse By Brand</h5>
        <p class="card-text">Loyal to a particular car company?  Look at all of the different vehicles they have produced over the years, and learn which one is right for you.</p>
        <a href="#" class="btn btn-primary">Start Searching</a>
      </div>
    </div>
  </div>
</div>
