/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 html {
   position: relative;
   min-height: 100%;
 }
 body {
   /* Margin bottom by footer height */
   margin-bottom: 60px;
 }
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   line-height: 60px; /* Vertically center the text there */
   background-color: #f5f5f5;
 }

.field_with_errors input  {
  display: inline;
  border-style: solid;
  border-color: red;
}

.field_with_errors select  {
  display: inline;
  border-style: solid;
  border-color: red;
}

.field_with_errors label {
  display: inline;
  font-style: oblique;
  color: red;
  border-style: none;
}

.field_with_errors {
  display: inline;
}

#navbar-logo{
  position: relative;
  bottom: 7px;
}

#intro-paragraph{
  font-size: 1.2rem
}

.new-item-button{
  background-color: #004225;
  background-repeat:no-repeat;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  margin: 5px;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}
