<div class='col-lg-3 brand-info-div' align='center'>
  <a href="<%= brand_path(brand) %>">
    <div class="card">
      <img src= "<%= brand.logo %>" class='card-img-top' />
      <div class="card-body">
        <h5 class='card-title'> <%= brand.name %></h5>
      </div>
    </div>
  </a>
</div>
