<div class='col brand-info-div' align='left'>
  <a href="<%= brand_path(brand) %>">
    <div class="card" style='width: 14rem; height: 10rem;'>
      <img src= "<%= brand.logo %>" class='card-img-top' />
      <!-- <div class="card-body">
        <h5 class='card-title'> <%= brand.name %></h5>
      </div> -->
    </div>
  </a>
</div>
