<div class='col-auto brand-info-div'>
  <a href="<%= brand_path(brand) %>">
    <div class="card" style='width: 25rem'>
      <img src= "<%= brand.logo %>" class='card-img-top' />
      <div class="card-body">
        <h5 class='card-title'> <%= brand.name %></h5>
      </div>
    </div>
  </a>
</div>
