<a href=# id="prev-car-button">Previous Car</a> ... <a href=# id="next-car-button">Next Car</a>
<div class="car-show-info">
</div>

<script id="car-show-template" type="text/x-handlebars-template">
  <br>
  <img src="{{photo_url}}" alt="car photo" width="600" height="400">
  <!-- would be cool to have a "added by" section  -->

    <p><strong>Brand: </strong> <a href="/brands/{{brand_id}}">{{brand.name}}</a></p>
    <h4>Types: </h4> <!-- need to use a hb partial or an each? -->
    <ul>
    {{#each this.car_types}}
      <li>{{name}}</li>
    {{/each}}
    </ul>

   <h4>Resources: </h4> <!--another hb partial or each? -->
   <ul>
     {{#each this.resources}}
     {{debug}}
     <li><a href="/cars/{{this.id}}/resources/{{id}}">{{title}}</a></li>
     {{/each}}
     <br>
      <a href="/cars/{{id}}/resources/new">Add Resource For This Car</a>

   <h4>Owners: 2</h4> <!-- another hb partial or each? -->
    <ul><li><a href="/users/1">John</a></li><li><a href="/users/1">John</a></li></ul>
</script>
